.details h1{
    font-weight: bold;
    color: black;
}

#main-header{
    font-weight: bold;
    color:#F1B814;
    text-align: center;
    text-decoration: underline;
}

#main{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    color: darkslategrey;

}

.wrapper{
    border: 1px #ccc solid;
    font-family: cursive;
    font-weight: normal;
    color: #259B9A;
    display: flex;
    flex: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: space-around;
    overflow: hidden;
}

section {
    padding: 10px;
    margin: 10px;
    background-color: beige;
}

h2{
    text-decoration: underline;
    align-items: center;
    color: black;
    text-align: center;
    justify-content: space-around;

}


#main-footer{
    text-align: center;
    padding-top: 1px;
    justify-content: center;
    font-size: medium;
    font-family: ""Trebuchet MS", Verdana, sans-serif";
    font-weight: bold;
    margin-top: 1px;

}